build/
build/.ninja_deps
build/.ninja_log
build/.ninja_deps
build/.ninja_log
build/CMakeCache.txt
build/cmake_install.cmake
build/MovieManager
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/MovieManager.dir/main.cpp.o
