<!DOCTYPE html>
<html>
<body>

<h1><a href="/">Movie Theatre</a></h1>
<p>Theaters</p>
<ul id="listas"> 

</ul>
<script type="module">
    console.log("Cinemas");
    var response = await fetch("/api/cinemas")
    var cinemas =await response.json();
    console.log(cinemas);
    const listas = document.querySelector("#listas")
    for (const [key, value] of Object.entries(cinemas))
    {
        console.log(`${key}: ${value}`);
        const li = document.createElement("li")
        li.innerHTML = `<a href="/cinema?id_cinema=${key}">${value}</a>`
        listas.append(li)
    }
</script>
</form>
</body>
</html>